* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100svw;
    height: 100svh;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
}

body > * {
    max-width: 200px;
}

form {
    width: min-content;
    text-align: right;
}

fieldset {
    padding: 1rem;
    border: 1px solid black;
    margin: 0;
}

fieldset legend {
    text-align: left;
    padding-inline: 0.25rem;
}

hr {
    width: calc(100% - 2rem);
}

img {
    background-color: #5865f2dd;
    padding: 12px 25px;
    border-radius: 6px;
    width: 100%;
}

img:hover {
    background-color: #5865f2;
}

input {
    max-width: calc(200px - 2rem - 2px);
}

@media screen and (min-width: 500px) {
    body {
        padding-top: 0;
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }

    fieldset {
        border-color: white;
    }
}
