body {
    font-family: sans-serif;
}

address {
    color: grey;
}

hr {
    border: none;
    border-top: 1px solid grey;
}

fieldset {
    width: fit-content;
    margin-block: 1rem;
}

button {
    cursor: pointer;
}

div.error {
    background-color: red;
    color: white;
    padding: 0.5rem;
}

a.discord-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url("/discord_icon.png");
    background-position: center center;
    background-size: contain;
}

@media (prefers-color-scheme: dark) {
    div.error {
        background-color: #f00a;
        color: white;
    }
}
