:root {
    --max-width: calc(1000px - 2rem);
    --temp-a: calc(50% - 500px + 1rem);
    --temp-a: calc(50vw - 500px + 1rem);
    --temp-a: calc(50svw - 500px + 1rem);
    --padding: max(1rem, var(--temp-a));
}

body,
input {
    font-family: "Slabo 27px", slab-serif, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    min-height: 100%;
    min-height: 100vh;
    min-height: 100svh;
}

nav,
main,
footer {
    padding: 1rem;
    width: calc(100% - 2rem);
    width: calc(100vw - 2rem);
    width: calc(100svw - 2rem);
    margin: 0;
    max-width: var(--max-width);
    padding-left: var(--padding);
    padding-right: var(--padding);
}

nav {
    display: flex;
    gap: 1rem;
    background-color: #000;
}

nav,
nav a {
    color: white;
    text-decoration: none;
}

nav a:nth-last-child(3) {
    flex-grow: 1;
}

nav a:hover,
nav a.active {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    overflow-x: auto;
}

footer {
    color: grey;
    font-style: italic;
    background-color: #000;
}

fieldset {
    width: fit-content;
    margin-block: 1rem;
    border: 1px solid black;
}

button {
    cursor: pointer;
}

div.error {
    background-color: red;
    color: white;
    padding: 0.5rem;
}

a.discord-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url("/discord_icon.png");
    background-position: center center;
    background-size: contain;
}

@media (prefers-color-scheme: dark) {
    div.error {
        background-color: #f00a;
        color: white;
    }
}
