/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-feature-settings: normal;
}

a {
    text-decoration: none;
    @apply hover:underline;
}

body {
    @apply flex flex-col p-0 m-0 font-sans min-h-[100vh];
}

nav {
    @apply flex flex-row flex-wrap items-center p-2 gap-4 bg-black;
}

nav * {
    @apply block m-0 p-0 !text-white;
}

nav h1 {
    @apply font-normal;
}

nav a.active,
nav .a-like.active {
    @apply underline;
}

article {
    @apply mx-0 px-4 overflow-x-auto flex-grow;
}

h1 {
    @apply text-3xl font-bold;
}

article > h1:first-of-type {
    @apply mt-6;
}

/* .alert {
    @apply my-4 p-2;
} */

a,
.a-like {
    @apply text-[#00e] visited:text-[#551a8b] cursor-pointer no-underline hover:underline;
}

form {
    @apply w-max;
}

form,
table {
    @apply my-4;
}

table tbody th {
    @apply text-left;
}

table th,
table td {
    @apply pr-2;
}

table th:last-child,
table td:last-child {
    @apply pr-0;
}

footer {
    @apply flex flex-wrap gap-4 text-gray-400 bg-black mt-auto p-4;
}

footer a {
    @apply visited:text-[#7825c5];
}
